<h2>Welcome to DCTPay, <%= @user.name %> !</h2>
<h3>Your Login details :</h3>
<p>Email : <%= @user.email %></p>
<p>Password : <%= @user.password %></p>
<p>Thanks for joining and have a great day!</p> 
<p>Regards,</p>
<p> Aswin S - DCT Academy</p>